name: Continuous Integration
on: 
  workflow_dispatch:
  push:
    branches:
     - master
     - 1.9-dev
  pull_request:
    branches:
     - master
     - 1.9-dev
jobs:
  test:
    strategy:
      matrix:
        include:
          # Ubuntu 22.04 with Clang 11 - Standard Metamod
          - os: ubuntu-22.04
            os_short: linux
            compiler_cc: clang-11
            compiler_cxx: clang++-11
            metamod_variant: standard
            metamod_repo: https://github.com/alliedmodders/metamod-hl1
          # Ubuntu 22.04 with Clang 11 - Metamod-R (ReHLDS)
          - os: ubuntu-22.04
            os_short: linux
            compiler_cc: clang-11
            compiler_cxx: clang++-11
            metamod_variant: rehlds
            metamod_repo: https://github.com/rehlds/Metamod-R
          # Ubuntu 22.04 with GCC 9
          - os: ubuntu-22.04
            os_short: linux
            compiler_cc: gcc-9
            compiler_cxx: g++-9
            compiler_install: 'gcc-9-multilib g++-9-multilib'
            metamod_variant: standard
            metamod_repo: https://github.com/alliedmodders/metamod-hl1
          # Ubuntu 24.04 with GCC 11 - supports Debian 13+ compatible builds
          - os: ubuntu-24.04
            os_short: linux
            compiler_cc: gcc-11
            compiler_cxx: g++-11
            compiler_install: 'gcc-11-multilib g++-11-multilib'
            metamod_variant: rehlds
            metamod_repo: https://github.com/rehlds/Metamod-R
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os_short }}-${{ matrix.compiler_cc }}-${{ matrix.metamod_variant }}
    env:
      DEPENDENCIES_FOLDER: dependencies      
      DEPENDENCIES_ROOT: ${{ github.workspace }}/dependencies      
      DEPENDENCIES_ROOT_WIN: ${{ github.workspace }}\dependencies              
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          path: amxmodx
      # Setup Python for AMBuild
      - uses: actions/setup-python@v2
        name: Setup Python 3.9
        with:
          python-version: 3.9
      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools wheel
          python3 --version
      - name: Install AMXModX dependencies (Linux)
        shell: bash
        run: |
          mkdir -p ${{ env.DEPENDENCIES_FOLDER }}
          cd ${{ env.DEPENDENCIES_FOLDER }}
          
          # Satisfy checkout-deps requirement for a "amxmodx" folder.
          mkdir -p amxmodx
          
          # Clone metamod based on variant
          if [ "${{ matrix.metamod_variant }}" = "rehlds" ]; then
            echo "Using Metamod-R for ReHLDS testing"
            git clone ${{ matrix.metamod_repo }} metamod-r-temp
            # Metamod-R has headers in metamod/src/, need to restructure
            mkdir -p metamod-am/metamod
            cp -r metamod-r-temp/metamod/src/* metamod-am/metamod/
            cp -r metamod-r-temp/metamod/extra metamod-am/metamod/ 2>/dev/null || true
            rm -rf metamod-r-temp
          else
            echo "Using standard AlliedModders Metamod"
            git clone ${{ matrix.metamod_repo }} metamod-am
          fi
          
          # Clone other dependencies
          git clone https://github.com/alliedmodders/hlsdk
          git clone https://github.com/alliedmodders/ambuild
          
          cd ambuild
          python3 setup.py install --user
          cd ..
          
          # Download MySQL
          curl -L -o "mysql-5.5.57-linux-glibc2.12-i686.tar.gz" http://cdn.mysql.com/archives/mysql-5.5/mysql-5.5.57-linux-glibc2.12-i686.tar.gz
          tar zxf mysql-5.5.57-linux-glibc2.12-i686.tar.gz
          mv mysql-5.5.57-linux-glibc2.12-i686 mysql-5.5
          
      - name: Install Linux dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            gcc-multilib g++-multilib libstdc++6 lib32stdc++6 \
            libc6-dev libc6-dev-i386 linux-libc-dev \
            linux-libc-dev:i386 lib32z1-dev nasm ${{ matrix.compiler_cc }} ${{ matrix.compiler_install }}
            
      - name: Select compiler
        run: |
          echo "CC=${{ matrix.compiler_cc }}" >> $GITHUB_ENV
          echo "CXX=${{ matrix.compiler_cxx }}" >> $GITHUB_ENV
          ${{ matrix.compiler_cc }} --version
          ${{ matrix.compiler_cxx }} --version
          
      - uses: ilammy/setup-nasm@v1
      
      - name: Build Linux
        working-directory: amxmodx
        run: |
          mkdir build
          cd build
          python3 ../configure.py --enable-optimize --metamod=${{ env.DEPENDENCIES_ROOT }}/metamod-am --hlsdk=${{ env.DEPENDENCIES_ROOT }}/hlsdk --mysql=${{ env.DEPENDENCIES_ROOT }}/mysql-5.5
          ambuild
          
      - name: Upload Linux artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: amxmodx-${{ matrix.metamod_variant }}-${{ matrix.os_short }}-${{ matrix.compiler_cc }}-${{ github.sha }}
          path: amxmodx/build/packages/
          retention-days: 7
